/* ----------------------------------------------------------------------------------------
* Author        : Ambidextrousbd
* Template Name : Nioti | One Page Multipurpose Html Template
* File          : Nioti main CSS file
* Version       : 1.0
* ---------------------------------------------------------------------------------------- */





/* INDEX
----------------------------------------------------------------------------------------

01. General css

02. Navigation area css

03. Slider area css

04. About area css

05. Service area css

06. Portfolio/work area css

07. Team Area Css

08. Fun facts area css

09. Pricing area css

10. Testimonial area css

11. News area css

12. Video area css

13. Clients area css

14. Subsicribe area css

15. Contact area css

16. Google map area css

17. footer area css

-------------------------------------------------------------------------------------- */


/* Google Fonts lato and open sans */
@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900|Open+Sans');



/* ----------------------------------------------------------------------------------------
*                                       01. General css
* -------------------------------------------------------------------------------------- */

html,
body {
    height: 100%
}

body {
    color: #333;
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #333;
    font-family: 'Lato', sans-serif;
}

.subtitle {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

/*Start ScrollToTop CSS*/
.scrollToTop{
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    position: fixed;
    top: 45%;
    right: 0%;
    display: none;
    color: #A70912;
    background: #FFF;
    font-size: 20px;
    box-shadow: -1px 0px 2px 2px #444;
}
.scrollToTop:hover{
    color: #FFF;
    background: #A60710;
    transition: 1s all ease;
}
.scrollToTop:active,.scrollToTop:focus{
    color: #000;
}
.portfolio .item img{
    width: 100%;
    height: 200px;
}

/*Close ScrollToTop CSS*/




.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn, input[type='submit'] {
    display: inline-block;
    background: transparent;
    padding: 10px 25px;
    font-weight: 300;
    border-radius: 0px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    color: #fff;
    background: #A70912;
    border: none;
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn, input[type='submit']:hover{
    color: #FFF;
}

.btn.btn-trnsp {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

.btn-big {
    border: 2px solid #000;
    font-size: 20px;
    font-weight: 900;

}

.btn.btn-trnsp:hover {
    border-color: #82b541;
    background: #82b541;
    color: #fff;
}

.section-big {
    padding: 95px 0px;
}

.section-small {
    padding: 50px 0px;
}

.section-title {
    margin: auto;
    max-width: 700px;
    margin-bottom: 60px;
}

.section-title.white h2 {
    color: #fff;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 25px;
    line-height: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

.section-title h2:before {
    content: '';
    position: absolute;
    width: 70px;
    margin-left: -35px;
    height: 2px;
    left: 50%;
    bottom: 0px;
    background-color: #A70912;
}

.section-title h2 span {
    color: #A70912;
}

.section-title p {
    margin-top: 25px;
}

/* preloader css */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url(../img/preloader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
}





/* ----------------------------------------------------------------------------------------
*                               02. Navigation area css
* --------------------------------------------------------------------------------------- */
.top-bar {
    position: relative;
    margin-bottom: -70px;
    height: 70px;
    line-height: 70px;
    z-index: 2;
    color: inherit;
    background: transparent;
    overflow: hidden;
}

.tmail, .tphone, .tsocial {
    float: left;
    width: 33.33%;
}
.tmail {}
.tphone {
    text-align: center;
}
.tsocial {
    text-align: right;
}
.tsocial a {
    color: inherit;
}
.tsocial a:hover {
    color: #A70912;
}
.tsocial a i.fa {
    font-size: 16px;
    margin-left: 5px;
}


.menu-area.navbar-fixed-top {
    background: #fff;
    /*top: 70px;*/
    height: 95px;
}
.menu-area.navbar-fixed-top.sticky-menu {
    top: 0px;
    height: 65px;
}

.sticky-menu {
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.mainmenu {
    padding-top: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.mainmenu .navbar-brand img{
    border-radius: 50%;
}

.sticky-menu .mainmenu .navbar-brand img{
    width: 50px;
    height: 50px;
}

.sticky-menu .mainmenu {
    padding-top: 0px;
}

.navbar {
    margin-bottom: 0;
    border: 0px;
    margin-top: 13px;
}

.sticky-menu .navbar {
    margin-top: 8px;
}

.navbar-brand {
    padding: 0;
}
.navbar-brand:hover {
    color: #A70912;
}

.navbar-nav  li {
    float: none;
    display: inline-block;
}

.navbar-nav li a {
    color: #333;
    font-weight: 900;
    font-family: 'Lato';
    font-size: 14px;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    background: none;
}

.mainmenu .navbar-nav li.active a {
    color: #A70912;
}


/* Mobile Nav css */
.navbar-toggle .icon-bar {
    background: #82b541;
}


/* ----------------------------------------------------------------------------------------
*                               03. Slider area css
* -------------------------------------------------------------------------------------- */



/* Home carseoul
--------------------------- */
#slider,
#slider .carousel,
#slider .carousel .carousel-inner,
#slider .carousel .carousel-inner .item
{
    height: 100%;
    min-height: 400px;
}

#slider .main-container {
    padding: 0;
}

#slider .carousel-indicators {
    right: 100px;
    left: auto;
    width: 80px;
}

#slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
    margin-left: 7px;
}
#slider .carousel-indicators li.active {
    background: #000;
}

#slider .carousel-control.right,
#slider .carousel-control.left {
    background-image: none;
}

#slider .carousel .item {
    min-height: 425px;
    height: 100%;
    width:100%;
}

#slider .carousel .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
}

#slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

.carousel-fade .carousel-inner .item {

    transition-property: opacity;
    -ms-transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.right.carousel-control img,
.left.carousel-control img {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -26px;
    padding: 20px 10px;
}

.carousel-control img:hover  {
    background: #82b541;
}

.left.carousel-control img {
    left: 10px;
}

.right.carousel-control img {
    right: 10px;
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

.intro-text {
    text-align: center;
    padding-top: 100px;
}

.intro-text .title {
    text-align: center;
    display: table;
    margin: auto;
    padding: 30px 20px;
}

.intro-text h2 {
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin: 0;
    color: #000;
    text-align: left;
}

.intro-text h1 {
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 900;
    margin: 0;
    margin-left: -10px;
    float: left;
    color: #000;
    line-height: 10vw;
}

/* Slide Background Image */
#slider .slide1 {
    background-image: url(../img/slider/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide2 {
    background-image: url(../img/slider/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide3 {
    background-image: url(../img/slider/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}






/* ----------------------------------------------------------------------------------------
*                               04. About area css
* ---------------------------------------------------------------------------------------*/

.about-area {
    background: #fff;
}

.about-img img {
    width: 100%;
}
.about-text h3 {
    margin-top: 0px;
}

.about-text .panel-title {
    color: #A70912;
}
.about-text .panel-title a:hover{
    color: #444;
}

.about-text ul {
    margin-top: 10px;
    margin-left: 30px;
    list-style: none;
}

.about-text ul li {
    line-height: 30px;
    position: relative;

}

.about-text ul li:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: -30px;
    top: 50%;
    margin-top: -5px;
    border: 2px solid #333;
    border-radius: 50px;
}
.about-text .btn {
    margin-top: 20px;
}






/* ----------------------------------------------------------------------------------------
*                                   05. Service area css
* --------------------------------------------------------------------------------------- */

.service-area {
    background-color: #f5f5f5;
    padding-bottom: 65px;
}

.home-services .service-box {
    padding: 0 30px;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .home-services .service-box {
        /*max-width: 300px;*/
    }
}

.home-services .service-box i.fa {
    color: #A70912;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 60px;
}
.home-services .service-box h3 {
    margin-top: 0;
    position: relative;
    margin-bottom: 15px;
}





/* ----------------------------------------------------------------------------------------
*                               06. Portfolio/work area css
* --------------------------------------------------------------------------------------- */
.works.section-big {
    padding-bottom: 0px;
}
.portfolio .mix {
    display: none;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.filters li {
    display: inline-block;
    margin: 0px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.filters li.active {
    color: #A70912;
}

.work-items .item {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.work-items .item img {
    width: 100%;
    transition: 0.8s ease-out;
}

.work-items .overlay{
    background-color: rgba(167, 9, 18, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.work-items .item:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.work-items .item:hover img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.work-items .overlay i.fa {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    padding: 20px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}





/* ----------------------------------------------------------------------------------------
*                                07. Team area css
* --------------------------------------------------------------------------------------- */
.team-member{
    text-align: center;
    transition: 0.3s ease-out;
    position: relative;
    overflow: hidden;
}

.member-image{
}

.member-image img{
    width: 100%;
    padding-bottom: 2px;
}

.member-info {
    transition: 0.3s ease-out;
}

.team-member h3{
    margin-bottom: 6px;
}

.member-info .text-muted {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.member-social a{
    position: relative;
    margin: 10px 0px;
}

.member-social i.fa {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #333;
}

.member-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: #A70912;
    color: #fff;
    padding: 30px 15px;
    transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;

}

.team-member:hover .member-hover {
    opacity: 1;
    height: 100%;
}

.member-hover h3,
.member-hover .text-muted,
.member-hover i.fa {color: #fff;}
.member-hover i.fa:hover {color: #333;}
.member-hover .member-social {
    margin: 15px auto;
}
.member-hover p {
    text-align: left;
}
.member-hover .text-muted {
    text-align: center;
}




/* ----------------------------------------------------------------------------------------
*                                   08. Fun facts area css
* --------------------------------------------------------------------------------------- */
.fun-facts-area{
    background-image: url(../img/bg/fun-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fun-facts-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.90);
}

.fun-fact i.fa {
    font-size: 48px;
    position: relative;
    padding-bottom: 25px;
}
.fun-fact i.fa:after {
    content: '';
    position: absolute;
    width: 70px;
    margin-left: -35px;
    height: 2px;
    left: 50%;
    bottom: 0px;
    background-color: #A70912;
}
.fun-fact h3 {
    font-size: 36px;
    font-weight: 900;
}
.fun-fact p {}





/* ----------------------------------------------------------------------------------------
*                                   09. Pricing area css
* --------------------------------------------------------------------------------------- */
.price-item {
    padding: 0 15px 28px;
    margin: 0;
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
}

.price-item ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0px;
}

.price-item.featured {
    background: #A70912;
    color: #fff;
}

.price-item p.level {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lato';
    line-height: 120px;
    text-transform: uppercase;
    margin: 0;
}

.price-item p.desc {
    font-size: 14px;
    margin-bottom: 0px;
}

.price-item p.price {
    background: #fff;
    margin: 0 -15px;
    line-height: 72px;
}

.price-item.featured p.price {
    color: #A70912;
}

.price-item p.price .dollar {
    font-size: 30px;
    position: relative;
    top: -30px;
}

.price-item p.price .number {
    font-size: 36px;
    font-weight: 900;
    font-family: 'Lato';
}

.price-item .features {
    margin: 30px 0;
}

.price-item .features li {
    padding: 5px 0;
}

.price-item a.btn {
    background: #333;
}

.price-item a.btn:hover {
    background: #A70912;
    color: #fff;
}

.price-item.featured a.btn {
    background: #fff;
    color: #A70912;
}

.price-item.featured a.btn:hover {
    background: #333;
    color: #fff;
}




/* ----------------------------------------------------------------------------------------
*                                10. Testimonial area css
* --------------------------------------------------------------------------------------- */
.testimonial-area {
    background-color: #888;
    background-image: url(../img/bg/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.testimonial-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.90);
}

.single-testimonial {
    padding: 0px 30px;
}

.single-testimonial img {
    float: left;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 30px;
}

.single-testimonial i.fa {
    font-size: 60px;
    margin-bottom: 10px;
    display: inline-block;
    color: #A70912;
}

.single-testimonial p {
    line-height: 30px;
    font-size: 20px;
    margin: 0;
}

.single-testimonial h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #A70912;
}

.single-testimonial .desg {
    font-size: 14px;
    line-height: 16px;
}

.owl-theme .owl-controls {
    margin-top: 40px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    border: 1px solid #000;
    float: left;
}

.owl-pagination {
    width: 120px;
    margin: 0px auto;
}

.owl-page.active span {
    background: #000;
}

.owl-theme .owl-controls .owl-buttons div {
    font-size: 25px;
    background: none;
    padding: 5px;
}




/* ----------------------------------------------------------------------------------------
*                                   11. News area css
* --------------------------------------------------------------------------------------- */
.news-area {}
.single-news {}

.news-image img {
    width: 100%;
}
.news-content .subtitle {
    text-transform: inherit;
    line-height: 28px;
}
.news-content .subtitle i.fa {
    color: #82b541;
}
.news-content .btn {
    margin-top: 10px;
}
.news-meta {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
}

.news-meta span {
    float: left;
    margin-right: 15px;
}

.news-meta span i.fa {
    margin-right: 4px;
}

/* news Modal css */
.news-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
}

.news-modal .modal-content h2 {
    margin-bottom: 30px;
    line-height: 40px;
}

.news-modal .modal-content img {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.news-modal .modal-content .item-details {
    margin: 30px 0
}

.news-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.news-modal .close-modal:hover {
    opacity: .3
}

.news-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.news-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.news-modal .modal-backdrop {
    opacity: 0;
    display: none
}





/* ----------------------------------------------------------------------------------------
*                                   12. Video area css
* --------------------------------------------------------------------------------------- */
.video-area {
    background-image: url(../img/bg/video-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    padding: 120px 0px;
}

.video-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.90);
}

.video-content {
    position: relative;
}

.video-content i.fa {
    color: #fff;
    background: #A70912;
    border-radius: 100px;
    font-size: 50px;
    padding: 30px 0px 30px 15px;
    width: 110px;
}

.video-content i.fa:hover {
    color: #333;
}





/* ----------------------------------------------------------------------------------------
*                                   13. Client area css
* --------------------------------------------------------------------------------------- */
.owl-client .item img {
    padding: 0 50px;
    width: auto;
    max-width: 100%;
}




/* ----------------------------------------------------------------------------------------
*                                14. Subscribe area css
* --------------------------------------------------------------------------------------- */
.subscribe-area {
    background-color: #f1f1f1;
}
.subscribe-box {}
.subscribe-box h2 {
    margin-top: 0px;
    font-size: 22px;
}
.subscribe-box h2 span {
    color: #A70912;
}
.subscribe-box p {
}
.newsletter-form {
    margin: auto;
}
.newsletter-form input{
    display: inline-block;
    height: 50px;
    width: 80%;
    padding: 5px 10px;
    background: #fff;
    float: left;
}
.newsletter-form .mc-submit {
    height: 50px;
    width: 20%;
    font-weight: bold;
    color: #fff;
    background-color: #A70912;
    border: none;
    font-size: 24px;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
}
.newsletter-form .mc-submit:hover {
    color: #000;
}
.subscribe-area .error {
    text-align: left;
}

.mailchimp-alerts {
    display: block;
    width: 100%;
    text-align: left;
}

.mailchimp-alerts div {
}
.mailchimp-submitting{
}
.mailchimp-success{
    color: green;
}
.mailchimp-error{
    color: red;
}





/* ----------------------------------------------------------------------------------------
*                                   15. Contact area css
* --------------------------------------------------------------------------------------- */
.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 5px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form .form-group {
    position: relative;
    border: 1px solid #bbb;
    padding-left: 10px;
    margin-bottom: 30px;
}

.contact-form .form-group:before {
    position: absolute;
    height: 45px;
    font-family: FontAwesome;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    line-height: 45px;
    color: #82b541;
    font-size: 18px;
}

.contact-form #message {
    padding-top: 10px;
    height: 150px;
}

#submitButton {}

.success {
    background: #fff none repeat scroll 0 0;
    color: #50B948;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.error {
    background: #fff none repeat scroll 0 0;
    color: #ff0000;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.address-box {
    margin-bottom: 15px;
    padding-left: 50px;
}

.address-box i.fa {
    color: #82b541;
    font-size: 20px;
    line-height: 30px;
    float: left;
    width: 40px;
    text-align: center;
    margin-left: -50px;
}

.address-box p, .address-box p a {
    color: inherit;
    margin: 0;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info i.fa {
    color: #A70912;
    font-size: 30px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.contact-info i.fa:after {
    content: '';
    position: absolute;
    width: 70px;
    margin-left: -35px;
    height: 2px;
    left: 50%;
    bottom: 0px;
    background-color: #A70912;
}

.contact-info a {
    color: inherit;
}




/* ----------------------------------------------------------------------------------------
*                                   16. Google Map area css
* --------------------------------------------------------------------------------------- */
#contactgoogleMap {
    width: 100%;
    height: 400px;
}





/* ----------------------------------------------------------------------------------------
*                                   17. Footer area css
* --------------------------------------------------------------------------------------- */
.footer-area {
    background: #222;
    padding: 50px 0px;
    color: #fff;
    font-size: 14px;
}

.footer-area p {
    margin: 30px auto;
    max-width: 800px;
}

.social-links li {
    list-style: none;
    display: inline-block;
}

.social-links li a i {
    color: #fff;
    font-size: 48px;
    margin: 0 10px;
}

.social-links li a:hover i {
    color: #A70912;
}

.copyright-text {
    padding: 30px 0px;
    background: #A70912;
    color: #fff;
}

.copyright-text p {
    margin: 0;
}